@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-feature-settings:
    'rlig' 1,
    'calt' 1;
}

.logo {
  fill: #020D37;
}
@media (prefers-color-scheme: dark) {
  .dark .logo {
    fill: #FFFFFF; /* Change this to the desired color for dark mode */
  }
}
